<ion-view>
    <ion-content padding='false'>

        <div class="cover" style="background-image:url({{ item.photoMatiere }})">
            <div class="content">
                <h1>{{ item.matiere }}</h1>
                <img src="{{ item.photoProf }}" alt="Photo professeur">
                <p>{{ item.professeur }}</p>
                <p>De {{ item.horaires.from }} à {{ item.horaires.to }}</p>
            </div>
        </div>

        <div class="description">
            <p>{{ item.description }}</p>
             <a class="button button-block button-positive"><i class="ion-ios-chatbubble"></i> Envoyer un message à Bruno</a>
        </div>

    </ion-content>
</ion-view>
