a {
    text-decoration: none;
}
.cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 300px;
    max-width: 100%;
}

.cover > h1 {
    text-align: center;
}

.cover > p {
    text-align: center;
}
